mixin article-edu-program(title,filter,images)
  article.article-edu-program(date-filter=filter)
    .flex.article-program__info
      img(src='images/'+images alt='')
      h3= title
      button.button.button--pink 
        b описание 
        span курса
    .article-program__more-info
      if block 
        block
      
mixin education-form(title,image)
  .education-form.flex
    .education-form__img.flex
      img(src=image alt='')
    h3
      span= title

mixin article-news
  article.article-news
    a(href='page-news.html').flex
      img(src='images/img__200x200.jpg' alt='')
      .info
        h3 ЗАГОЛОВОК НОВОСТИ
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
        
mixin timetable-item
  li.timetable-item.flex
    h3 Название мероприятия, вебинара, встречи
    .wrap.flex
      .timetable-item__date.flex
        .icon
        span 24.01
      .timetable-item__time.flex
        .icon
        span 18:00
    .wrap.flex
      .timetable-item__price.flex
        .icon
        span 12000 Р.
      button.button.button--pink.zap 
        span.vis зарегистрироваться
        span.non запись
    
mixin whatos(title,disc)
    article.whatos
      img(src="images/icon-ot/metods.png" alt="")
      header.whatos__header
          h3= title
          p= disc
